body {
 padding: 0;
 margin: 0;
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 18px;
 line-height: 150%;
 color: #333;
 background-image: url('../images/concrete_seamless.png');
 margin: 0;
}

header
 {
 background: gray;
 overflow: auto;
}

#add-food {
   color: black;
   background-color: white;
}

#food-input {
   color: black;
}

#food-view {
   color: black;
}

#button-view {
   color: black;
}

.food-btn {
   margin: 10px;
   border: 10px;
   border-radius: 50px;
   color: black;
   background-color: white;
}

#add-food {
   margin: 10px;
}

.food {

}

.container {
   width: 80%;
   margin: auto;
   padding: 0 25px 40px 10px;
   background-color: gray;
   border:4px solid #B0E0E6;
   border-radius:5px;
   color: #FFFFFF;
   font-weight: bold;
   box-shadow: 5px 5px 5px #888;
   text-align: center;
   line-height: 150%;

}